@import 'node_modules/ember-frost-theme/scss/frost-theme';

.frost-password {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .revealer {
    cursor: pointer;
    color: $frost-color-blue-1;
  }

  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .warning{
    font-size: 10px;
    color: $frost-color-blue-1;

    &.showWarning {
      display: block;
    }

    &.hideWarning {
      display: none;
    }
  }
}
