@import 'node_modules/ember-frost-theme/scss/frost-theme';

.frost-password {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &.revealable {
    .frost-text .close {
      left: -40px;
    }

    .frost-button {
      margin-left: -30px;
      width: 15px;
      height: 15px;
      padding: 0;
    }
  }

  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .warning {
    font-size: 10px;
    color: $frost-color-blue-1;
  }

  .shifted-warning {
    font-size: 10px;
    color: $frost-color-blue-1;
    margin-left: 15px;
  }


}
