<div class='row'>
  {{frost-text
    id=componentId
    value=value
    class=class
    type=type
    on-input=(action "onInput")
    disabled=disabled}}
  <div class="warning {{if isCapsOn 'showWarning' 'hideWarning'}}">Caps on</div>
</div>
{{#if revealable}}
  {{#if showRevealer}}
  <div class='row'>
    {{#frost-checkbox on-input=(action "toggleReveal")}}
      Show password
    {{/frost-checkbox}}
  </div>
  {{/if}}
{{/if}}
